<div class="modal fade" id="delete-file-modal-{{ object.id }}" tabindex="-1" role="dialog" aria-labelledby="delete_modal_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title cyan" id="delete_modal_label">{{ title }}</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to {{ action }} this {{ object_type }}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a href="{{ url }}" class="btn btn-default" id="confirm-{{ action }}-{{ object.id }}" name="final_submit"><span
                        class="green bold"><i class="glyphicon glyphicon-ok"></i> {{ confirm }}</span></a>
            </div>
        </div>
    </div>
</div>
