#login-body{
    background: #0099ff;
}
#logo-img{
    padding-top: 20px;
    height: 70px;
}
#header-row{
    border-bottom: 1px solid #efefef;
}
.login-nav{
    padding-top: 10px;
    margin-right: 20px;
}

#bottom-nav-bar{
    border-top: 1px solid #efefef;
    bottom: 0;
    margin-bottom: 0;
    position: fixed;
}
#top-nav-menu{
    padding-top: 40px;
    margin-bottom: 0;
}

#top-nav-menu ul li a:hover{
    border-bottom: 2px solid #0099ff;
}
.drop-down-menu{
    padding: 0 0 !important;
}

.drop-down-menu li a{
    border-bottom: 1px solid;
    padding-top: 0;
}

#content{
    margin-top: 30px;
}
.login-row{
    margin: 200px 0 2px 0;
    background: #0099ff;
    color: #ffffff;
    border-radius: 3px;
    border: 1px solid #ffffff;
    padding: 20px;
    font-family: "Helvetica Light", Helvetica, Arial, sans-serif;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font-size: 16px;
  padding: 5px;
  border: none;
  border-radius: 4px;
  height: auto;
  margin: 10px 0 0 10px;
  width:230px;
  background: lightblue;
}
.login-form{
    margin-left: 20px;
}
.login-form p{
    margin-top: 8px;
}
.login-form p label{
    width: 80px;
    font-family: 'Open Sans', sans-serif;
}

#btn-login{
    margin-top: 5px;
    padding: 12px;
    width: 95px;
    background: #0099ff;
    border: 1px solid #ffffff;
    color: #ffffff;

}
#login-logo img{
    margin-top: 105px;
}
#login-form-container{
    border-left: 1px solid  #ffffff;
    padding-bottom: 10px;
}

#extract-question-list {
    margin-top: 3px ;
}
#extract-question-list button{
    margin-left: 20px;
}

.bold{
    font-weight: bold;
}
.red{
    color:#CC0000;
}
.green{
    color:#5E8E2E;
}
.cyan{
    color:#0099FF;
}

.form-group label{
    text-align: left !important;
    font-weight: normal !important;
}

.indent{
    padding-left: 40px;
}

.question-group{
    border-bottom: 1px solid;
}
