#logo-img{
    padding-top: 20px;
    height: 70px;
}
#header-row{
    border-bottom: 1px solid #efefef;
}
.login-nav{
    padding-top: 10px;
    margin-right: 20px;
}

#bottom-nav-bar{
    border-top: 1px solid #efefef;
    bottom: 0;
    margin-bottom: 0;
    position: fixed;
}
#top-nav-menu{
    padding-top: 40px;
    margin-bottom: 0;
}

#top-nav-menu ul li a:hover{
    border-bottom: 2px solid #0099ff;
}
.drop-down-menu{
    padding: 0 0 !important;
}

.drop-down-menu li a{
    border-bottom: 1px solid;
    padding-top: 0px;
}