#login-body{
    background: #0099ff;
}
#logo-img{
    padding-top: 20px;
    height: 70px;
}
#header-row{
    border-bottom: 1px solid #efefef;
}
.login-nav{
    padding-top: 10px;
    margin-right: 20px;
}

#bottom-nav-bar{
    border-top: 1px solid #efefef;
    bottom: 0;
    margin-bottom: 0;
}
#top-nav-menu{
    padding-top: 0;
    margin-bottom: 0;
}

#top-nav-menu ul li a:hover{
    border-bottom: 2px solid #0099ff;
}
.drop-down-menu{
    padding: 0 0 !important;
}

.drop-down-menu li a{
    border-bottom: 1px solid;
    padding-top: 0;
}

#content{
    margin-top: 30px;
}
.login-row{
    margin: 200px 0 2px 0;
    background: #0099ff;
    color: #ffffff;
    border-radius: 3px;
    border: 1px solid #ffffff;
    padding: 20px;
    font-family: "Helvetica Light", Helvetica, Arial, sans-serif;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font-size: 16px;
  padding: 5px;
  border: none;
  border-radius: 4px;
  height: auto;
  margin: 10px 0 0 10px;
  width:230px;
  background: lightblue;
}
.login-form{
    margin-left: 20px;
}
.login-form p{
    margin-top: 8px;
}
.login-form p label{
    width: 80px;
    font-family: 'Open Sans', sans-serif;
}

#btn-login{
    margin-top: 5px;
    padding: 12px;
    width: 95px;
    background: #0099ff;
    border: 1px solid #ffffff;
    color: #ffffff;

}
#login-logo img{
    margin-top: 105px;
}
#login-form-container{
    border-left: 1px solid  #ffffff;
    padding-bottom: 10px;
}

#extract-question-list {
    margin-top: 3px ;
}
#extract-question-list button{
    margin-left: 20px;
}

.bold{
    font-weight: bold;
}
.case-text{
    font-size: 11px;
    display: inherit;
    padding-top: 5px;;
}
.red{
    color:#CC0000;
}
.green{
    color:#5E8E2E;
}
.grey-bg{
    background-color:#f2f2f2;
}
.cyan{
    color:#0099FF;
}

.bg-cyan{
    background-color:#0099FF;
}

.delete-more{
    opacity: 1 !important;
}
.control-label{
    text-align: left !important;
    font-weight: normal !important;
}

.indent{
    margin-left: 10px;
}
.group-hr{
    border: 1px solid #000;
}
.multiple-hr{
    border: 1px dashed #000;
}
.top-padding{
    padding-top: 10px;
}

.boundary{
    border: 1px #efefef solid;
    display: table;
}
.center-fields{
    float:none;
    display: inline-block;
    vertical-align: middle;
}

form p{
    padding: 3px;
}
form p label{
    width: 150px;
    padding: 3px;
    font-weight: normal;
}

form p select, input[type='text'], input[type='password'] {
    width: 220px;
    padding: 3px;
}
.form-actions{
    margin-left: 140px;
    padding: 10px;
}
.form-actions a{
    margin-left: 30px;
}
.popover{
    max-width: 650px !important;
}
.table-responsive a{
  margin-bottom: 7px;
}
label.error{
  color: red;
  width: 300px;
}

.form-horizontal select{
    max-width: 223px;
    display: inline-block !important;
}

.tab-content select{
    max-width: 223px;
}


a[data-toggle='popover']{
    cursor:pointer;
}

.instructions{
    float: right;
    display: inline-flex;
}

.form-group ul{
   display: inline;
   padding-left: 0px;
}

.form-group ul li{
   display: inline;
   list-style-type: none;
   margin-left: 5px;
}

.form-group ul li label{
   margin-left: 0px;
}

.group-name-instructions h5{
    max-width: 350px;
    display: inline;
}
form li{
    list-style: none;
}
form li label{
    font-weight: normal;
    display: inline;
    margin-left: 50px;
}.field-error{
    border: 1px solid #CC0000;
    display: inherit;
}

#app-name-label {
width: 352px;
float: left;
margin-top: 25px;
}

form ul li{
    display: inline;
}
.question-number{
    color: #0080FF;
    font-size: 11px;
    display: inline;
}
.question-text{
    padding-left: 10px;
    display: inline;
}
.region-select{
    min-width: 170px !important;
}
textarea{
    height: 34px;
}
form input[type=file]{
    margin-left: 154px;
    margin-top: -28px;
}

#id-upload-form label{
    width: 770px;
}
.button-section{
    margin-left: 10px;
}
.section-buttons{
    display: block;
    overflow: auto;
}
.spinner {
  display: none;
}
.spinner-image{
   height: 20px;
}
.form-content{
   padding-left: 20px;
   display: table-cell;
}
.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
    display: inline-block;
}
.has-spinner.active .glyphicon-file {
    display: none;
}

#create-section-modal input[type=text]{
    width: 320px;
}
#create-section-modal textarea{
    width: 320px;
    height: 80px;
}

.submit-btn{
    border: 1px #CC0000 solid;
}
.question-form{
    background-color: #ffefcb;
}

table #text-td{
    max-width: 400px;
}

.option-control-label{
    display: inline-block !important;
    width: 150px;
    margin: 3px;
    padding: 3px;
    font-weight: normal;
}
.input-group-addon{
    width: 0 !important;
}

#option-input-group{
    padding: 3px 0;
}
div.pagination{
    display: table;
    margin: 0 auto;
}
.radio-inline{
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}
#option-choices-label{
    width: 140px;
    font-weight: normal !important;
}
.form-table{
    display: table;
    width: 100%;
}
.modal-lg{
    min-width: 1000px;
}

li.more-toggle{
    text-align: center;
}
li.more-toggle a{
    color: #000000 !important;
}

#select_survey_wizard-form label{
    width: 196px;
}
.unassign-question-div{
    display: inline-block;
    float: none;
}