{% extends 'base/layout.html' %}

{% block title %}
    Extract responses data
{% endblock %}

{% block content %}
    <h3>EXTRACT RESPONSES DATA</h3>
    <hr/>
    {% for questionnaire in questionnaires %}
        <form method="post">
        {% csrf_token %}
            <p id="extract-question-list">
            {{ questionnaire.name }}
            <input type="hidden" value="{{ questionnaire.id }}" name="questionnaire">
            <button type="submit" class="btn btn-sm btn-primary" id="export-data">Download (.txt)</button>
            </p>
            <br />
        </form>
    {% endfor %}

{% endblock %}