{% extends 'base/layout.html' %}
{% block title %}Question List{% endblock %}
{% block content %}

    {% load pagination_tags %}
    {% load generic_tags %}
    {% autopaginate questions 30 %}
    <div class="table-responsive">
    <span class="pull-left"><h3>Question List</h3>
        <br/>
    </span>
    <a href="{% url 'new_question_page' %}" class="btn btn-default btn-lg  pull-right" id="id-add-new-question-link">
        <span class="cyan"><i class="glyphicon glyphicon-plus-sign"></i> New Question</span></a>
    <br/>
      <table class="table table-hover table-bordered">
          <thead>
          <tr>
            <th>UID</th>
            <th>Export Label (Detail)</th>
            <th>Response Type</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
            {% for question in questions %}
                <tr {% if question.is_in_active_questionnaire %} class="success" {% endif %}>
                    <td>{{ question.UID }} </td>
                    <td id="text-td">{{ question.export_label }}</td>
                    <td>{{ question.answer_type }}</td>
                    <td>
                        <div class="btn-group">
                            <a href="" class="btn btn-sm btn-default"> <span class="glyphicon glyphicon-pencil"></span> Edit</a>
                            <a data-target="#delete-modal-{{ question.id }}" data-toggle="modal" class="btn btn-sm btn-default red" id="delete-question-{{ question.id }}"> <span class="glyphicon glyphicon-trash"></span> Delete</a>
                        </div>
                    </td>
                </tr>
                {% include 'base/modals/_delete.html' with object_type='Question' title='Confirm Delete' action="delete" object=question  url=question.id|get_url_with_ids:"delete_question_page"  confirm='Yes'%}
            {% endfor %}
          </tbody>
      </table>
  {% paginate %}
    </div>
{% endblock %}