{% extends 'base/form.html' %}
{% block display_form_fields %}
    <h3>New Question</h3>
    <hr/>
    {% include 'base/naked_form.html' with a_form=form %}
    {% include 'base/_question_options.html' %}
    <script type="text/template" id="question-option-template">
        <div class="input-group" id="option-input-group">
            <label class="option-control-label">Option <span class="number"></span></label>
            <input type="text" maxlength="100" name="options">
            <a href="javascript:;" class="input-group-addon btn btn-sm btn-primary add-option"><i class="glyphicon glyphicon-plus"></i></a>
            <a href="javascript:;" class="input-group-addon btn btn-sm  btn-primary remove-option"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
    </script>
{% endblock %}