
<div id="option-choices" class="hide">
<label id="option-choices-label">Options</label>
    <label class="radio-inline">
        <input type="radio" id="options-1" value="[Yes, no]" name="options"> Yes, No
    </label>

    <label class="radio-inline">
        <input type="radio" id="options-2" value="[Yes, No, NR]" name="options"> Yes, No, NR
    </label>

    <label class="radio-inline">
        <input type="radio" id="options-3" value="[Yes, No, NR, ND]" name="options"> Yes, No, NR, ND
    </label>

    <label class="radio-inline">
        <input type="radio" id="options-4" value="[Male, Female, Both]" name="options"> Male, Female, Both
    </label>

    <label class="radio-inline">
        <input type="radio" id="options-5" value="[Local currency, US $]" name="options"> Local currency, US $
    </label>

    <label class="radio-inline">
        <input type="radio" id="options-6" value="[National, Sub national]" name="options"> National, Sub national
    </label>

    <label class="radio-inline">
        <input type="radio" id="options-6" value="custom" name="options"> Custom
    </label>
</div>