<!DOCTYPE HTML>
<html>
<head>
    <title>
        {% block title %}{% endblock %} | eJRF
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" type="text/css" media="all">
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/application.css" type="text/css" media="all">
    {% block extra_css %}{% endblock %}
    <!--[if IE 8]>
          <script src="{{ STATIC_URL }}html5shiv/html5shiv.js"></script>
          <script src="{{ STATIC_URL }}Respond/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{% load generic_tags %}
<div id="questionnaire" class="container boundary">
    {% include 'base/header.html' %}
    {% include 'questionnaires/entry/preview_modal.html' %}

    <div id="content" class="container">
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags | bootstrap_message }}">
                        <ul>
                            {{ message }}
                        </ul>
                    </div>
                {% endfor %}
            {% endif %}

            {% block content %}
            {% endblock %}
        </div>
        <div id="push"></div>
    </div>

    {% include 'base/footer.html' %}

</div>

<script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/jquery.validate.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.autosize.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}bootstrap-datetimepicker/moment.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}bootstrap-datetimepicker/bootstrap-datetimepicker.js" type="text/javascript"
        charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/application.js" type="text/javascript" charset="utf-8"></script>
{% if not perms.auth.can_edit_questionnaire %}
    <script src="{{ STATIC_URL }}js/save-draft.js" type="text/javascript" charset="utf-8"></script>
{% endif %}
<script src="{{ STATIC_URL }}js/users.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/uploads.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/sections.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/question_options.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/preview_questionnaire.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/manage.js" type="text/javascript" charset="utf-8"></script>

{% block javascripts %}
{% endblock %}
</body>
</html>