{% extends 'base/layout.html' %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/wizzard.css" type="text/css" media="screen">
{% endblock %}
{% block content %}
{% load questionnaire_entry_tags %}

    {% include 'questionnaires/entry/section_breadcrumps_wizzard.html' %}
    <a href="{% url 'upload_document' section.questionnaire.id %}" class="btn btn-default pull-right" id="upload-file"><span class="cyan"><span class="glyphicon glyphicon-open"></span> Upload a document</span> </a>
    <h3>{{ section.order}}. {{ section.title | safe }}</h3>
    {% if section.description %}
        <div class="">
           {{ section.description| safe }}
        </div>
    {% endif %}
    <form class="form-horizontal" id="questionnaire_entry" role="form" method="post">
    {% csrf_token %}
    {% for form_type, form_set in formsets.formsets.items %}
        {{ form_set.management_form }}
    {% endfor %}
    {% for subsection in section.sub_sections.all %}
        <h4>{% if section.has_at_least_two_subsections %}{{ section.order }}.{{ subsection.order }}.{% endif %} {{subsection.title}}</h4>
        {% for group in subsection.parent_question_groups %}
            <div class="question-group indent">
                {% for order in group.question_orders %}
                        {% if order.question.is_first_in_group %}
                            <h5>{% if subsection.has_at_least_two_groups %}{{ section.order }}.{{ subsection.order }}.{{group.order}}.{% endif %}</h5>
                            {% if order.question.group.name %}
                                <span class="group-name-instructions"><h5>{{order.question.group.name}} </h5>
                                    {% if order.question.group.instructions %}
                                        <a class="indent" data-toggle="popover" data-html="true" data-placement="bottom" data-trigger="hover" data-content="{{ order.question.group.instructions }}"><i class="glyphicon glyphicon-info-sign cyan"></i> instructions</a>
                                    {% endif %}
                                </span>
                            {% endif %}
                        {% endif %}
                        <div class="form-group">
                                <label class="col-sm-6 control-label">
                                    <div class="question-number">
                                        {{ section.order }}{% if section.has_at_least_two_subsections %}.{{ subsection.order }}{% endif %}.{% if subsection.has_at_least_two_groups %}{{group.order}}.{% endif %}{{ order.order }}.
                                    </div>
                                    <div class="question-text">
                                        {{ order.question.text }}
                                    </div>
                                </label>
                                <div class="col-sm-5 center-fields">
                                    {% for field in order.question|get_form:formsets %}
                                        {% if field.errors %}
                                           <div class="field-error">
                                        {% endif %}
                                        {{ field }}
                                        {% if field.errors %}
                                           </div>
                                        {% endif %}
                                        {% if order.question.instructions %}
                                            <a class="indent instructions" data-toggle="popover" data-html="true" data-placement="bottom" data-trigger="hover" data-content="{{ order.question.instructions }}" id="question-{{ order.question.id }}-instructions"><i class="glyphicon glyphicon-info-sign cyan"></i> instructions</a>
                                        {% endif %}
                                        {% if field.errors %}
                                            <a class="indent red" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="{{ field.errors|striptags }}" id="question-{{ order.question.id }}-instructions"><i class="glyphicon glyphicon-warning-sign red"></i></a>
                                        {% endif %}
                                    {% endfor %}

                                </div>
                        </div>
                        {% if order.question.group.parent and order.question.is_last_in_group %}
                            <hr/>
                        {% endif %}
               {% endfor %}
            </div>
            {% if group.allow_multiples %}
                <button type="button" href="#" class="btn btn-default add-more"> <span class="cyan bold"><i class="glyphicon glyphicon-plus"></i> Add More</span></button>
            {% endif %}
            <hr class="group-hr"/>
        {% endfor %}
    {% endfor %}

    <div class="form-group top-padding">
    <div class="col-sm-offset-2 col-sm-4 pull-right">
      <a href="{% url 'home_page' %}" class="btn btn-default" name="cancel_button" id="cancel_button"> <span class="red bold"><i class="glyphicon glyphicon-remove"></i> CANCEL</span></a>
      <button type="submit" class="btn btn-default" id="save_draft_button" name="save_draft"><span class="cyan bold"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</span></button>
      <button type="submit" class="btn btn-default" id="submit_button" name="final_submit"><span class="green bold"><i class="glyphicon glyphicon-ok"></i> SUBMIT</span></button>
    </div>
  </div>
</form>

{% endblock %}

