{% extends 'base/layout.html' %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/wizzard.css" type="text/css" media="screen">
{% endblock %}
{% block content %}
{% load questionnaire_entry_tags %}

    {% include 'questionnaires/entry/section_breadcrumps_wizzard.html' %}

    <h3>{{ section.title }}</h3>
    {% if section.description %}
        <div class="">
            {{ section.description| safe }}
        </div>
    {% endif %}

    <form class="form-horizontal" role="form">

    {% for subsection in section.sub_sections.all %}
        <h4> {{subsection.title}}</h4>
        {% for group in subsection.parent_question_groups %}
            <div class="question-group indent">
                {% for question in group.ordered_questions %}

                        {% if question.is_first_in_group and question.group.name %}
                            <hr/>
                            <h5> {{question.group.name}}</h5>
                        {% endif %}
                            <div class="form-group">
                                    <label class="col-sm-6 control-label center-fields">{{ question.text }}</label>
                                    <div class="col-sm-5 center-fields">
                                            {{ question|get_form:formsets }}
                                            {% if question.instructions %}
                                                <a class="indent" data-toggle="popover" data-html="true" data-content="{{ question.instructions }}"><i class="glyphicon glyphicon-info-sign cyan"></i> instructions</a>
                                            {% endif %}
                                    </div>
                            </div>
                        {% if question.group.parent and question.is_last_in_group %}
                            <hr/>
                        {% endif %}
               {% endfor %}
            </div>
            {% if group.allow_multiples %}
                <button type="button" id="add_more" href="#" class="btn btn-default"> <span class="cyan bold"><i class="glyphicon glyphicon-plus"></i> Add More</span></button>
            {% endif %}
            <hr class="group-hr"/>
        {% endfor %}
    {% endfor %}

    <div class="form-group top-padding">
    <div class="col-sm-offset-2 col-sm-4 pull-right">
      <button type="cancel" class="btn btn-default" id="cancel_button"> <span class="red bold"><i class="glyphicon glyphicon-remove"></i> CANCEL</span></button>
      <button type="submit" class="btn btn-default" id="save_draft_button"><span class="cyan bold"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</span></button>
      <button type="submit" class="btn btn-default" id="submit_button"><span class="green bold"><i class="glyphicon glyphicon-ok"></i> SUBMIT</span></button>
    </div>
  </div>
    </form>

{% endblock %}

