{% extends 'base/layout.html' %}
{% block title %}
    Upload Support Document
{% endblock %}
{% block content %}
    <h3>Upload Support Document</h3>
    <form action="{{ action }}" enctype="multipart/form-data" method="post" accept-charset="utf-8">
        {% csrf_token %}
        {% include "base/naked_form.html" with a_form=upload_form %}
        <div class="form-actions">
            <button type="submit" class="btn btn-default" name="save_button" id="upload-btn"><span class="cyan"><span class="glyphicon glyphicon-open"></span>{{ button_label }}</span></button>
            <a href="#" class="btn btn-default" name="cancel_button"><span class="cyan"> Cancel</span></a>
        </div>
    </form>
{% endblock %}